@model IEnumerable<LastHope.Models.Course>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/StaffLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Title)
    </td>

    <td class="btn btn-info btn-space" role="button">
        @Html.ActionLink("Edit", "Edit", new { id = item.CourseID }) |
    </td>

    <td class="btn btn-success btn-space">
        @Html.ActionLink("Details", "Details", new { id = item.CourseID }) |
    </td>

    <td class="btn btn-warning btn-space">
        @Html.ActionLink("Delete", "Delete", new { id = item.CourseID })
    </td>
</tr>
}

</table>

